<h1>WELKCOME TO MISTER COCKTAIL</h1>
<div class = "container padded">

  <div class="flex_item">


  </div>
  <div class = "flex-item">
    <table>

      <% @cocktails.each do |cocktail| %>
      <tr>
        <td>
        <% if cocktail.photo.present? %>
          <%= cl_image_tag cocktail.photo, height: 100, crop: :fill %>
          <% end %>
        </td>
        <td>
          <%= cocktail.name %>
        </td>
        <td>
          <%= link_to "see", cocktail_path(cocktail), class: "btn btn-primary"  %>
        </td>

        <td>
          <%= link_to "delete", cocktail_path(cocktail), class: "btn btn-danger",
          method: :delete,
          data: {confirm: "are you sure you want to delete this cocktail?"} %>
        </td>
      </tr>
      <% end%>
    </table>
  </div>
  <div class= "flex-item">
    <%= link_to "create new cocktail", new_cocktail_path(), class: "btn btn-info"%>
  </div>
</div>
