<h1><%= @cocktail.name %></h1>
<div class= "container">

  <table>
    <tr>
      <th>Dose</th>
      <th>Ingredient</th>
    </tr>
    <%@doses.each do |dose|%>
    <tr>
      <td>
        <%= dose.description %>
      </td>
      <td>
        <% if dose.ingredient.present? %>
        <%= dose.ingredient.name %>
        <% end %>
      </td>
    </tr>
    <% end%>
  </table>

<%= link_to "Add an ingredient", new_cocktail_dose_path(@cocktail), class:"btn btn-warning" %>

<%= link_to "Home", cocktails_path , class:"btn btn-success"%>


<%= cl_image_tag @cocktail.photo, height: 300, width: 400, crop: :fill %>
</div>
