<h1><%= @cocktail.name %></h1>
<div class="goodlookin">
  <div class="row">
    <div class="col-xs-12 col-md-3">
      <%= cl_image_tag @cocktail.photo, height: 300, width: 400, crop: :fill %>
    </div>
    <div class="col-xs-12 col-md-3">
      <table>
        <tr>
          <th>Dose</th>
          <th>Ingredient</th>
        </tr>
        <%@doses.each do |dose|%>
        <tr>
          <td>
            <%= dose.description %>
          </td>
          <td>
            <% if dose.ingredient.present? %>
            <%= dose.ingredient.name %>
            <% end %>
          </td>
        </tr>
        <% end%>
      </table>
    </div>
    <div class="col-xs-12 col-md-3">
      <h2>Reviews</h2>
      <ul>
        <% @reviews.each do |review| %>
        <li>
          <%= review.description %>
          <% review.rating.times do %>
          <i class="fa fa-glass" aria-hidden="true"></i>
          <% end %>
        </li>
        <% end %>
      </ul>
      <%= link_to "Add a review", new_cocktail_review_path(@cocktail) , class:"btn btn-primary"%>
    </div>

  </div>

  <div class="butties padded" style="align-content: center">

    <%= link_to "Add an ingredient", new_cocktail_dose_path(@cocktail), class:"btn btn-warning" %>

    <%= link_to "Home", cocktails_path , class:"btn btn-success"%>

  </div>

</div>




